{% extends 'base.html' %}
{% block wrapper_content%}
<body>
<main class="container mt-3">
    <div class="row mt-5">
        <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
            <h2 class="display-4 mt-4 pl-3 pt-3">Ошибка</h2>
            <p class="lead pl-3 pb-3"> {{error}}</p>
            {% if type == 'booking_form' %}
            <a class="nav-link p-3" href="/booking/{{tutor_id}}/{{day}}/{{time}}"><h3>заполните форму ещё раз</h3></a>
            {% elif type == 'request_form' %}
            <a class="nav-link p-3" href="/request"><h3>заполните форму ещё раз</h3></a>
            {% else %}
            <a class="nav-link p-3" href="/"><h3>вернуться на главную</h3></a>
            {% endif %}
        </div>
    </div>
</main>
</body>
{% endblock %}